
.products-section{
  text-align: center;
  padding: 4rem 2rem;
  background-color: #FBF3E0;
  color: #003366;
}
.products-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.products-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.product{

}
.products-card {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 0.2rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.products-card h3 {
  font-size: 1.8rem;
  margin: 1rem 0;
}
.products-card p {
  font-size: 1.3rem;
  color: #666666;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.product-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/*Media Queries for Responsive Design */
@media (max-width: 768px) {
  .products-wrapper {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .products-card {
    padding: 1rem;
  }

  .products-card h3 {
    font-size: 1.5rem;
  }

  .products-card p {
    font-size: 1.1rem;
  }

  .products-section h2 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .products-card h3 {
    font-size: 1.6rem;
  }

  .products-card p {
    font-size: 1.2rem;
  }
}
